.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products {
    justify-content: space-between;
}

.side-div {
    padding-top: 70px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 310px;
    border: solid 1px #23B823;
    text-align: center;
    margin: 30px 0px 30px 0px;
}

h3 {
    margin: 5px 7px 0px 7px;
    font-size: 16px;
}

.right-side h2 {
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.left-side img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 0px 0px 15px 0px;
}

.down {
    height: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
}

.link {
    width: 130px;
    height: 28px;
    font-size: 13px;
}

.prices .new-price {
    font-size: 28px;
    margin: 0px 0px -5px 0px;
}

.prices .old-price {
    font-size: 24px;
}

@media only screen and (max-width: 1800px) {
    .products {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
    }

    .products {
        width: 100%;
    }

    .side-div {
        position: block;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 70px;
    }

    .filter {
        position: static;
        width: 90%;
    }

    .side-div img {
        width: 294px;
        height: 600px;
        position: static;
        cursor: pointer;
    }
}

@media only screen and (max-width: 477px) {
    .product {
        width: 90%;
    }
    
    .side-div img {
        width: 90%;
        height: 600px;
        position: static;
        cursor: pointer;
    }

}