.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filter {
    width: 15%;
}

.products {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px 40px 0px;
}

.advertisement {
    width: 15%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 275px;
    border: solid 1px #23B823;
    margin: 30px 20px 30px 20px;
    text-align: center;
}

h3 {
    margin: 5px 7px 0px 7px;
    font-size: 16px;
}

.right-side h2 {
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}

.left-side {
    width: 50%;
}

.right-side {
    width: 50%;
}

.left-side img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 0px 0px 15px 0px;
}

.down {
    height: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
}

.link {
    width: 130px;
    height: 28px;
    font-size: 13px;
}

.prices .new-price {
    font-size: 28px;
    margin: 0px 0px -5px 0px;
}

.prices .old-price {
    font-size: 24px;
}